package components

templ Section() {
	<section>
		<div class="max-w-6xl mx-auto px-4 sm:px-6">
			<div>
				<div class="md:grid md:grid-cols-12 md:gap-12 lg:gap-20 items-center">
					<!-- Content -->
					<div class="md:col-span-12 lg:col-span-12 mb-8 md:mb-0 text-center md:text-left">
						{ children... }
					</div>
				</div>
			</div>
		</div>
	</section>
}
